body {
    display: flex;
    flex-direction: column;
    margin: 0px;
    font-family: Helvetica, Arial, sans-serif;
}

.header {
    background-color:#1f2937;
    color: #e5e7eb;
    padding: 15px;
    display: flex;
    flex: 1;
    justify-content: space-around;
}

.container {
    display: flex;
    flex-direction: column;
}

ul {
    list-style: none;
    margin: none;
    display: flex;
    justify-content: space-around;
}
a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

.logo {
    color: #f9faf8;
    font-size: 24px;
    display: flex;
}

.links {
    
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 16px;
}

.hero img{
    max-width: 400px;
    height: auto;
    border: solid;
    border-color: #717e91;
    border-width: 15px;
}

.hero{
    background-color: #1f2937;
    padding: 25px 50px 75px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}

.welcome {
    color: #f9faf8;
    font-size: 48px;
    font-weight: bolder;
}

.welcome-text {
    display: flex;
    flex-flow: row wrap;
    max-width: 400px;
}

.subtext {
    color: #e5e7eb;
    font-size: 18px;
}

.subtext button {
    background-color: #3882f6;
    border: none;
    border-radius: 8px;
    color: #f9faf8;
    padding: 10px 25px;
    text-decoration: none;

}

.info img{
    width: 200px;
    height: 150px;
    border: solid;
    border-color: #3882f6;
    border-radius: 10px;
}

.info{
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    padding: 25px;
}

.photo {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 200px;
    flex-flow: row wrap;
    text-align: center;
}

.photo-bar  {
    display: flex;
    align-items: center;
    gap: 20px;
    
}

.quote {
    background-color: #e5e7eb;
    font-size: 36px;
    font-style: italic;
    text-align: justify;
    padding: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 750px;   
}


.action {
    background-color: #3882f6;
    color: #f9faf8;
    font-size: 18px;
    border-radius: 10px;
    display: flex;
    
}

.action button{
    background-color: #3882f6;
    border: solid;
    border-color: #f9faf8;
    border-radius: 8px;
    color: #f9faf8;
    padding: 10px 25px;
    text-decoration: none;
}

footer {
    background-color: #1f2937;
    color:#e5e7eb;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex: 1;
    padding: 40px;
}

